{% extends "base.html" %}
{% block content %}
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ e }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Go Back</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Show the modal automatically when the page loads
    const errorModal = new bootstrap.Modal(document.getElementById("errorModal"));
    errorModal.show();
</script>
{% endblock %}
